# Pandas Basics
- Pandas  is a newer package built on top of numpy
- It provides an efficient implementation of a DataFrame
- DataFrames are essentially multidimensional arrays with attached row and column labes

In [4]:
#import pandas
import numpy as np
import pandas as pd

# Creating a series using Pandas

In [7]:
# using list
labels = ['a', 'b' , 'c' , 'd']
listdata = [22,33,44,55]
df = pd.Series(listdata)
print(df, "\n")

df = pd.Series(data = listdata, index=labels)
print(df, "\n")

0    22
1    33
2    44
3    55
dtype: int64

a    22
b    33
c    44
d    55
dtype: int64

In [9]:
# using numpy arrays
npArr = np.array([22,33,44,55])

df = pd.Series(npArr)
print(df, "\n")

df = pd.Series(data = npArr, index=labels)
print(df, "\n")

0    22
1    33
2    44
3    55
dtype: int32

a    22
b    33
c    44
d    55
dtype: int32

In [10]:
# using dictionary
pyDict = {'a':22,'b':33,'c':44,'d':55}

df = pd.Series(pyDict)
print(df, "\n")

df = pd.Series(data = pyDict, index=labels)
print(df, "\n")

a    22
b    33
c    44
d    55
dtype: int64

a    22
b    33
c    44
d    55
dtype: int64

# Creating Dataframes
- Dataframe is a collection of Series combiend together to share the same indexs

In [42]:
from numpy.random import randn
np.random.seed(1)
df = pd.DataFrame(randn(5,6),index = ['11','22','33','44','55'], columns = ["Col1","Col2","Col3","Col4","Col5","Col6"])
print(df, "\n")

print(type(df["Col1"]))
print(df["Col1"], "\n") # Column selection

print(type(df[["Col1","Col2"]]))
print(df[["Col1","Col2"]], "\n") # Multiple Column selection

df['Col7'] = df['Col5'] + df['Col6'] # Adding a new column 
print(df, "\n")

df = df.drop('Col7',axis=1) # Removing column from Dataframe - axis=0 -> drop rows , axis=1 -> drop columns
print(df, "\n")

print(df.loc['55'], "\n") #Selecting rows

print(df.iloc[5-1], "\n") #Selecting rows from location

print(df>0.6, "\n") # Conditional statements

print(df.dropna(), "\n") # Drop missing data

print(df.isnull(), "\n") # check for null

print(df.fillna(value=0), "\n") # Drop missing data

print(df.duplicated(), "\n") # check duplicates

print(df.drop_duplicates(), "\n") # Drop duplicates

        Col1      Col2      Col3      Col4      Col5      Col6
11  1.624345 -0.611756 -0.528172 -1.072969  0.865408 -2.301539
22  1.744812 -0.761207  0.319039 -0.249370  1.462108 -2.060141
33 -0.322417 -0.384054  1.133769 -1.099891 -0.172428 -0.877858
44  0.042214  0.582815 -1.100619  1.144724  0.901591  0.502494
55  0.900856 -0.683728 -0.122890 -0.935769 -0.267888  0.530355

<class 'pandas.core.series.Series'>
11    1.624345
22    1.744812
33   -0.322417
44    0.042214
55    0.900856
Name: Col1, dtype: float64

<class 'pandas.core.frame.DataFrame'>
        Col1      Col2
11  1.624345 -0.611756
22  1.744812 -0.761207
33 -0.322417 -0.384054
44  0.042214  0.582815
55  0.900856 -0.683728

        Col1      Col2      Col3      Col4      Col5      Col6      Col7
11  1.624345 -0.611756 -0.528172 -1.072969  0.865408 -2.301539 -1.436131
22  1.744812 -0.761207  0.319039 -0.249370  1.462108 -2.060141 -0.598033
33 -0.322417 -0.384054  1.133769 -1.099891 -0.172428 -0.877858 -1.050287
44  0.042214  0.582815 -1.100619  1.144724  0.901591  0.502494  1.404085
55  0.900856 -0.683728 -0.122890 -0.935769 -0.267888  0.530355  0.262467

        Col1      Col2      Col3      Col4      Col5      Col6
11  1.624345 -0.611756 -0.528172 -1.072969  0.865408 -2.301539
22  1.744812 -0.761207  0.319039 -0.249370  1.462108 -2.060141
33 -0.322417 -0.384054  1.133769 -1.099891 -0.172428 -0.877858
44  0.042214  0.582815 -1.100619  1.144724  0.901591  0.502494
55  0.900856 -0.683728 -0.122890 -0.935769 -0.267888  0.530355

Col1    0.900856
Col2   -0.683728
Col3   -0.122890
Col4   -0.935769
Col5   -0.267888
Col6    0.530355
Name: 55, dtype: float64

Col1    0.900856
Col2   -0.683728
Col3   -0.122890
Col4   -0.935769
Col5   -0.267888
Col6    0.530355
Name: 55, dtype: float64

     Col1   Col2   Col3   Col4   Col5   Col6
11   True  False  False  False   True  False
22   True  False  False  False   True  False
33  False  False   True  False  False  False
44  False  False  False   True   True  False
55   True  False  False  False  False  False

        Col1      Col2      Col3      Col4      Col5      Col6
11  1.624345 -0.611756 -0.528172 -1.072969  0.865408 -2.301539
22  1.744812 -0.761207  0.319039 -0.249370  1.462108 -2.060141
33 -0.322417 -0.384054  1.133769 -1.099891 -0.172428 -0.877858
44  0.042214  0.582815 -1.100619  1.144724  0.901591  0.502494
55  0.900856 -0.683728 -0.122890 -0.935769 -0.267888  0.530355

     Col1   Col2   Col3   Col4   Col5   Col6
11  False  False  False  False  False  False
22  False  False  False  False  False  False
33  False  False  False  False  False  False
44  False  False  False  False  False  False
55  False  False  False  False  False  False

        Col1      Col2      Col3      Col4      Col5      Col6
11  1.624345 -0.611756 -0.528172 -1.072969  0.865408 -2.301539
22  1.744812 -0.761207  0.319039 -0.249370  1.462108 -2.060141
33 -0.322417 -0.384054  1.133769 -1.099891 -0.172428 -0.877858
44  0.042214  0.582815 -1.100619  1.144724  0.901591  0.502494
55  0.900856 -0.683728 -0.122890 -0.935769 -0.267888  0.530355

11    False
22    False
33    False
44    False
55    False
dtype: bool

        Col1      Col2      Col3      Col4      Col5      Col6
11  1.624345 -0.611756 -0.528172 -1.072969  0.865408 -2.301539
22  1.744812 -0.761207  0.319039 -0.249370  1.462108 -2.060141
33 -0.322417 -0.384054  1.133769 -1.099891 -0.172428 -0.877858
44  0.042214  0.582815 -1.100619  1.144724  0.901591  0.502494
55  0.900856 -0.683728 -0.122890 -0.935769 -0.267888  0.530355

# Group by

# Merging

# Joining

# Concatenating